/* Other rules */
body {
  margin: 0;
  padding: none;
}
/* HEADER */
div {
  display: block;
}
body nav {
  position: sticky;
  top: 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}
.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}
.header-logo {
  height: 30px;
  padding-bottom: 15px;
}

.search-cont {
  position: relative;
}
.search-input {
  font-family: "Maison Neue";
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-size: 16px;
}
input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
}
.search-icon {
  position: relative;
  left: 7px;
  top: -27px;
  color: #bbb;
}
.button-signup {
  margin-right: 20px;
}
.button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
  margin-bottom: 20px;
}
.header-button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
}
.button-sold {
  background-color: #2cb1ba;
  color: #fff;
  margin-bottom: 20px;
}
button {
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}
.home-hero-bg img {
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  object-fit: cover;
}
.home-hero-forme {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
/* SIGNUP */
.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-container {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.signup-form {
  width: 275px;
  margin: auto;
}
button,
input {
  outline: none;
}
.signup-form button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
.signup-form > input {
  text-rendering: auto;
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: (rgb(255, 255, 255) rgb(59, 59, 59));
  cursor: text;
}
.signup-login-error-message {
  color: red;
  font-size: 9px;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.checkbox-container {
  margin-top: 20px;
  padding: 10px;
}
.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}
button,
input[type="checkbox"] {
  cursor: pointer;
}
.checkbox-container span {
  color: #666;
}
.checkbox-container > p {
  text-align: left;
  color: #999;
  font-size: 12px;
}
a {
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}
.signup-container a {
  color: #2cb1ba;
  font-size: 15px;
}
/* HOME PAGE */
.home-card-wrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}
.home-hero-bg-img > div {
  width: 1280px;
  margin: auto;
}
.home-hero-pret {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 2%;
  box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
}
.home-hero-pret button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}
.card-container {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}
.card-avatar-username > span {
  color: #999;
  font-size: 14px;
}
.card-container div:last-child img {
  height: 360px;
  width: 235px;
  object-fit: cover;
  border-radius: 4px;
}
.card-avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}
.card-price-brand-size {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-price-brand-size span:first-child {
  font-size: 14px;
  color: black;
}
.card-price-brand-size span:not(:first-child) {
  font-size: 12px;
  color: #999;
}
/* OFFER */
.body-offer {
  height: calc(100vh -60px);
  background-color: #ebedee;
}
.offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}
.offer-img {
  height: 600px;
  max-width: 700px;
  object-fit: cover;
  border-radius: 10px;
}
.info-offer {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
}
.price-offer {
  font-size: 24px;
  line-height: 20px;
  margin-left: 40px;
}
.offer-desc {
  list-style-type: none;
}
.offer-desc li {
  display: flex;
  padding: 2px 0;
}
.offer-desc span:nth-child(odd) {
  color: #999;
}
.offer-desc span {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  font-size: 14px;
  text-transform: uppercase;
}
.offer-desc span:nth-child(2n) {
  font-weight: 600;
  color: #666;
}
.separator {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}
.name {
  margin-top: 40px;
  font-weight: 600;
}
.descc {
  color: #666;
}
.info-offer button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 52px;
}
.avat {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin-right: 10px;
}
